.bookstrack {
    width: 100%;

    &__userdata {
        height: calc(100vh - 6rem);
        width: 100%;
        padding: 0 0 3rem 0;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;

        h2 {
            margin: 1rem 0 0 0;
        }

        h3 {
            margin: 0 0 1rem 0;
        }

        p {
            font-family: 'Source Sans Pro', sans-serif;
        }

        &__progressbar {
            width: 16rem;
            height: 2rem;
            border: 1px solid #c39305;
            margin: 3rem 0 3rem 0;
        }
    }

    &__books {
        height: 90vh;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        position: relative;

        &__nav {
            position: absolute;
            left: 50%;
            top: 2rem;
            transform: translateX(-50%);

            ul {
                display: flex;
                li {
                    margin: 0 0.5rem;

                    button {
                        cursor: pointer;
                        color: white;
                        font-family: 'Cinzel', serif;
                        font-size: 1rem;
                        width: 2rem;
                        height: 2rem;
                    }

                    .book-active {
                        border: 0.1px solid rgba(255, 255, 255, 0.5);
                        border-radius: 10rem;
                    }
                }
            }
        }

        &__main {
            width: 100%;
            height: 80%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            &__img {
                width: 100%;
                margin: 6rem 0 1rem 0;

                img {
                    height: 10rem;
                    width: auto;
                }
            }

            &__info {
                width: 100%;
                margin: 0 0 1rem 0;

                display: flex;
                flex-direction: column;
                justify-content: flex-start;

                font-family: 'Cinzel', serif;

                h2 {
                    width: 100%;
                    margin: 0 0 1rem 0;
                    font-size: 1.5rem;
                }

                p {
                    width: 100%;
                    line-height: 1.6;
                }
            }
        }

        &__chapters {
            width: 100%;
            height: auto;
            margin: 2rem 0 0 0;

            display: flex;
            align-items: center;
            justify-content: space-between;

            ul {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                height: 100%;

                li {
                    width: 100%;
                    text-align: center;

                    display: flex;
                    align-items: center;
                    justify-content: center;

                    button {
                        font-family: 'Cinzel', serif;
                        width: 100%;
                        font-size: 1rem;
                    }
                }

                button {
                    color: white;
                    width: 2rem;
                    height: 2rem;

                    cursor: pointer;
                }
            }
        }
    }
}

@include breakpoint('sm') {
    .bookstrack {
        &__userdata {
            &__progressbar {
                width: 24rem;
            }
        }
    }
}

@include breakpoint('md') {
    .bookstrack {
        &__books {
            &__main {
                flex-direction: row;

                &__img {
                    margin: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    img {
                        height: 20rem;
                    }
                }
            }
        }
    }
}

@include breakpoint('lg') {
    .bookstrack {
        &__books {
            &__nav {
                ul {
                    li {
                        margin: 0 1.5rem;
                    }
                }
            }

            &__main {
                &__img {
                    img {
                        height: 25rem;
                    }
                }
            }
        }
    }
}

@include breakpoint('xl') {
    .bookstrack {
        &__books {
            &__nav {
                left: -4rem;
                top: 50%;
                transform: translateY(-50%);

                ul {
                    flex-direction: column;

                    li {
                        margin: 2rem 0;
                    }
                }
            }
        }
    }
}

@include breakpoint('2xl') {
    .bookstrack {
        &__userdata {
            h3 {
                margin: 0 0 1rem 0;
            }

            &__progressbar {
                width: 50rem;
                height: 3rem;
            }
        }

        &__books {
            &__nav {
                left: -5rem;
                top: 50%;
                transform: translateY(-50%);

                ul {
                    flex-direction: column;
                    li {
                        margin: 2rem 0;

                        button {
                            font-size: 1.25rem;
                            width: 2.5rem;
                            height: 2.5rem;
                        }
                    }
                }
            }

            &__main {
                &__img {
                    width: 45%;

                    img {
                        height: 30rem;
                    }
                }

                &__info {
                    width: 55%;

                    h2 {
                        width: 80%;
                        margin: 0 0 2rem 0;
                        font-size: 3rem;
                    }

                    p {
                        width: 80%;

                        line-height: 1.6;
                    }
                }

                &__chapters {
                    height: 10%;

                    justify-content: center;

                    ul {
                        width: 80%;

                        li {
                            width: 25%;
                        }
                    }
                }
            }
        }
    }
}
