.bookstrack {
    width: 100%;
    height: 75vh;

    &__userdata {
        height: 30%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .prevnext {
            width: 30rem;
            display: flex;
            justify-content: space-between;
        }
    }

    &__books {
        height: 70%;

        display: flex;
        justify-content: flex-start;
        align-items: center;

        margin: 3rem 0;

        &__nav {
            position: absolute;
            top: 50%;
            left: 5rem;
            transform: translateY(-50%);

            ul {
                li {
                    list-style: none;
                    margin: 2rem 0;
                }
            }
        }

        &__main {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            img {
                width: 10rem;
                height: auto;
            }
        }
    }
}
