*,
html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Cinzel', serif;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 1.5px;
    background-color: #0e0e16;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    color: white;
}

button {
    background: none;
    outline: none;
    border: none;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 1.5px;
}

a {
    text-decoration: none;
    color: white;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 1rem;
}

p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 0.8rem;
}

ul {
    li {
        list-style: none;
    }
}

@include breakpoint('sm') {
    h2 {
        font-size: 3rem;
    }

    p {
        font-size: 0.9rem;
    }
}

@include breakpoint('md') {
    h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 3.5rem;
    }
}

@include breakpoint('xl') {
    h2 {
        font-size: 4rem;
    }

    p {
        font-size: 1rem;
    }
}

@include breakpoint('2xl') {
    h2 {
        font-size: 4rem;
    }
    h3 {
        font-size: 1.5rem;
    }
}

.scroll-down {
    position: absolute;
    bottom: 4rem;

    display: flex;
    flex-direction: column;

    svg {
        stroke: #ffffff;
        fill: transparent;
        stroke-width: 1px;
        animation: arrow 2s infinite;
        -webkit-animation: arrow 2s infinite;
    }

    .a1 {
        animation-delay: -1s;
        -webkit-animation-delay: -1s; /* Safari 和 Chrome */
    }

    .a2 {
        animation-delay: -0.5s;
        -webkit-animation-delay: -0.5s; /* Safari 和 Chrome */
    }

    .a3 {
        animation-delay: 0s;
        -webkit-animation-delay: 0s; /* Safari 和 Chrome */
    }

    @keyframes arrow {
        0% {
            opacity: 0;
        }
        40% {
            opacity: 1;
        }
        80% {
            opacity: 0;
        }
        100% {
            opacity: 0;
        }
    }

    @-webkit-keyframes arrow {
        0% {
            opacity: 0;
        }
        40% {
            opacity: 1;
        }
        80% {
            opacity: 0;
        }
        100% {
            opacity: 0;
        }
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}
