.home {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    animation: fadein 2s;
    -webkit-animation: fadein 2s;

    h1 {
        margin: 10rem 0 2rem 0;
    }

    &__nav {
        width: 100%;
        height: auto;
        margin: 10rem 0 2rem 0;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &__post {
            width: 20.9rem;
            height: 11.4rem;
            margin: 2rem 0;
            background: white;
            background-size: cover;
            position: relative;

            p {
                font-family: 'Cinzel', serif;
                font-size: 1.5rem;
                text-align: left;
                position: absolute;
                top: 10.2rem;
                left: 1.5rem;
                width: 90%;
            }
        }
    }
}

@include breakpoint('2xl') {
    .home {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        animation: fadein 2s;
        -webkit-animation: fadein 2s;

        a {
            text-decoration: none;
            color: white;
        }

        h1 {
            font-size: 3.25rem;
            width: 60%;
            margin: 4rem 0 2rem 0;
        }

        p {
            font-family: 'Source Sans Pro', sans-serif;
            width: 50%;
        }

        &__nav {
            width: 100%;
            height: auto;
            margin: 8rem 0 0 0;

            display: flex;
            justify-content: center;

            &__post {
                width: 22rem;
                height: 12rem;
                margin: 0 3rem;
                background: white;
                background-size: cover;
                position: relative;

                p {
                    font-family: 'Cinzel', serif;
                    font-size: 2rem;
                    text-align: left;
                    position: absolute;
                    top: 11rem;
                    left: 2rem;
                    width: 100%;
                }
            }
        }
    }
}
