.sortinghat {
    width: 100%;
    height: 75vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
        font-size: 2rem;
        margin: 0 0 2rem 0;
    }

    &__questionbox {
        width: 80%;
        height: 80%;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        background: rgba(20, 20, 20, 0.349);
        border-radius: 2rem;
        padding: 2rem;

        p {
            font-size: 2.5rem;
            margin: 0 0 2rem 0;
            text-align: center;
            font-family: 'Source Sans Pro', sans-serif;
        }

        ul {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;

            li {
                list-style: none;
                height: 4rem;

                button {
                    margin: 0.75rem 0;
                    background: none;
                    border: none;
                    outline: none;
                    cursor: pointer;
                    color: white;
                    font-family: 'Source Sans Pro', sans-serif;
                    font-size: 1rem;
                }

                button:hover {
                    border-bottom: 1px solid white;
                }
            }
        }
    }
}
